@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.calltoaction{
    background-image: url(./assets/Images/dog-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bgCover{
    background-image: url(./assets/Images/bg-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.dosis {
  font-family: "Dosis", sans-serif;
}